<form method="post" action="" id="" class="register_frm">
    <table>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="userId" id="userId" class="register_input" placeholder="아이디를 입력해주세요."></td>
        </tr>
        <tr>
            <th>패스워드</th>
            <td><input type="text" name="userPw" id="userPw" class="register_input" placeholder="패스워드를 입력해주세요."></td>
        </tr>
        <tr>
            <th>패스워드 확인</th>
            <td><input type="text" name="userPw_chk" id="userPw_chk" class="register_input" placeholder="패스워드를 다시 입력해주세요."></td>
        </tr>
        <tr>
            <th>이름</th>
            <td><input type="text" name="userName" id="userName" class="register_input" placeholder="이름을 입력해주세요."></td>
        </tr>
    </table>
    <div id="btn_area">
        <button class="blue_btn">회원가입</button>
    </div>
</form>